.layout {
  padding: 32px 24px 72px;
}

@media (min-width: 768px) {
  .layout {
    padding: 40px 40px 72px;
  }
}

@media (min-width: 1281px) {
  .layout {
    margin: 0 auto;
    padding: 43px 0px 88px;
    width: 1280px;
  }
}
