@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@400;700&family=Fraunces:wght@900&display=swap');

:root {
  /* COLORS */
  --DarkCyan: #0e8784;
  --LightCyan: #66d2cf;
  --DarkGreyBlue: #333d4b;
  --PaleOrange: #fdd6ba;
  --LightCream: #fefcf7;
  --Grey: #83888f;
  --DarkerBlue: #2c343e;
  --DiasabledButton: #e2ded8;
}

* {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Barlow', sans-serif;
  font-size: 0.9375rem;
  line-height: 1.5625rem;
  color: var(--DarkGreyBlue);
}

h1,
h1,
h3,
h4 {
  font-family: 'Fraunces', serif;
}

h1 {
  font-size: 2.5rem;
  line-height: 2.5rem;
}

h2 {
  font-size: 1.75rem;
  line-height: 1.75rem;
}

h3 {
  font-size: 1.625rem;
  line-height: 2rem;
}

h4 {
  font-size: 1.5rem;
  line-height: 2rem;
}

.BigTitle {
  font-size: 9.375rem;
  line-height: 4.5rem;
  color: var(--Grey);
}

a {
  color: inherit;
  text-decoration: none;
}

@media (min-width: 768px) {
  html,
  body {
    font-size: 1rem;
    line-height: 1.625rem;
  }

  h1 {
    font-size: 3rem;
    line-height: 3rem;
  }

  h2 {
    font-size: 2.5rem;
    line-height: 3rem;
  }

  h3 {
    font-size: 1.75rem;
    line-height: 2rem;
  }
}

@media (min-width: 1280px) {
  h1 {
    font-size: 4.5rem;
    line-height: 4.5rem;
  }

  h3 {
    font-size: 2rem;
    line-height: 2.25rem;
  }
}
